In [2]:
import numpy as np
import sys
import os
import glob
import imageio
import time
import pandas as pd
from scipy import ndimage, signal
from cv2 import medianBlur

sys.path.append("..")

from PIL import Image
from costum_arild.source.utils import image_processing_utils, gdal_utils
from costum_arild.source.data_processing import TrainingImage
from costum_arild.source.models import DeeplabV3Plus

import tensorflow as tf

In [3]:
def prepare_results(result_list_val, list_no_val):
    # outputs miou and dataframe to show from result list
    print(f'the miou is {result_list_val[list_no_val][0]}')
    df=pd.DataFrame(result_list_val[list_no_val][1], columns=['water', 'gravel', 'vegetation', 'farmland', 'hum_cons'])
    res = df.div(df.sum(axis=1), axis=0).round(2)
    # returns miou and confmatrix_df
    return result_list_val[list_no_val][0], res

In [4]:
exp_specific_path = 'exp_no13/2022-02-16_21:53:46.548229_vgg16_freeze_2'

In [5]:
import pandas as pd

river_name = 'gaula_1963_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/New_dataset_experiments/{exp_specific_path}/{river_name}/predictions/confusion_matrix_test.csv'

df = pd.read_csv(file_path, header=None)
df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
          index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
df = df.div(df.sum(axis=1), axis=0).round(2)
df

            water  gravel  vegetation  farmland  hum_cons
water        0.87    0.01        0.04      0.08      0.00
gravel       0.08    0.69        0.14      0.06      0.03
vegetation   0.02    0.01        0.90      0.04      0.04
farmland     0.01    0.02        0.08      0.88      0.01
hum_cons     0.03    0.03        0.11      0.13      0.70

In [8]:
river_name = 'gaula_1998_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/New_dataset_experiments/{exp_specific_path}/{river_name}/predictions/confusion_matrix_test.csv'

df = pd.read_csv(file_path, header=None)
df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
          index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
df = df.div(df.sum(axis=1), axis=0).round(2)
df

            water  gravel  vegetation  farmland  hum_cons
water        0.90    0.04        0.03      0.04      0.00
gravel       0.08    0.62        0.07      0.18      0.04
vegetation   0.07    0.03        0.63      0.24      0.03
farmland     0.00    0.19        0.02      0.76      0.03
hum_cons     0.00    0.02        0.07      0.14      0.77

In [9]:
river_name = 'nea_1962_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/New_dataset_experiments/{exp_specific_path}/{river_name}/predictions/confusion_matrix_test.csv'

df = pd.read_csv(file_path, header=None)
df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
          index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
df = df.div(df.sum(axis=1), axis=0).round(2)
df

            water  gravel  vegetation  farmland  hum_cons
water        0.91    0.00        0.04      0.05      0.01
gravel       0.18    0.46        0.17      0.15      0.04
vegetation   0.02    0.00        0.86      0.09      0.03
farmland     0.01    0.00        0.02      0.96      0.01
hum_cons     0.00    0.00        0.08      0.27      0.64

# MagNet new class

In [6]:
def prepare_results(result_list_val, list_no_val):
    # outputs miou and dataframe to show from result list
    print(f'the miou is {result_list_val[list_no_val][0]}')
    df=pd.DataFrame(result_list_val[list_no_val][1], columns=['water', 'gravel', 'vegetation', 'farmland', 'hum_cons'])
    res = df.div(df.sum(axis=1), axis=0).round(2)
    # returns miou and confmatrix_df
    return result_list_val[list_no_val][0], res

In [7]:
exp_specific_path = 'Magnet_exp_no23'

In [8]:
import pandas as pd

river_name = 'gaula_1963_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/New_dataset_experiments/{exp_specific_path}/{river_name}/predictions/confusion_matrix_test.csv'

df = pd.read_csv(file_path, header=None)
df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
          index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
df = df.div(df.sum(axis=1), axis=0).round(2)
df

            water  gravel  vegetation  farmland  hum_cons  unknown
water        0.94    0.02        0.04      0.00      0.00      0.0
gravel       0.04    0.88        0.07      0.01      0.00      0.0
vegetation   0.00    0.03        0.94      0.01      0.01      0.0
farmland     0.00    0.00        0.10      0.88      0.01      0.0
hum_cons     0.00    0.01        0.27      0.06      0.66      0.0
unknown       NaN     NaN         NaN       NaN       NaN      NaN

In [9]:
river_name = 'gaula_1998_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/New_dataset_experiments/{exp_specific_path}/{river_name}/predictions/confusion_matrix_test.csv'

df = pd.read_csv(file_path, header=None)
df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
          index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
df = df.div(df.sum(axis=1), axis=0).round(2)
df

            water  gravel  vegetation  farmland  hum_cons  unknown
water        0.97    0.01        0.01      0.01      0.00      0.0
gravel       0.03    0.87        0.05      0.01      0.05      0.0
vegetation   0.02    0.13        0.76      0.03      0.06      0.0
farmland     0.00    0.22        0.03      0.66      0.09      0.0
hum_cons     0.00    0.08        0.03      0.02      0.87      0.0
unknown       NaN     NaN         NaN       NaN       NaN      NaN

In [10]:
river_name = 'nea_1962_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/New_dataset_experiments/{exp_specific_path}/{river_name}/predictions/confusion_matrix_test.csv'

df = pd.read_csv(file_path, header=None)
df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
          index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
df = df.div(df.sum(axis=1), axis=0).round(2)
df

            water  gravel  vegetation  farmland  hum_cons  unknown
water        0.90    0.03        0.07      0.00      0.00      0.0
gravel       0.06    0.81        0.11      0.01      0.01      0.0
vegetation   0.01    0.01        0.95      0.03      0.01      0.0
farmland     0.00    0.00        0.11      0.86      0.02      0.0
hum_cons     0.00    0.01        0.13      0.11      0.75      0.0
unknown       NaN     NaN         NaN       NaN       NaN      NaN

# unet resnet

In [11]:
river_name = 'nea_1962_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/New_dataset_experiments/exp_no18/2022-04-15_07:21:22.437819_unet_resnet50_freeze_0/{river_name}/predictions_swa/confusion_matrix_test.csv'

unknown_zero = True


df = pd.read_csv(file_path, header=None)
if unknown_zero:
    df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
              index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
else:
    df = df.rename(columns={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'}, 
              index={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'})
    
df = df.div(df.sum(axis=1), axis=0).round(2)
df

            water  gravel  vegetation  farmland  hum_cons  unknown
water        0.89    0.03        0.06      0.01      0.00      0.0
gravel       0.06    0.71        0.13      0.07      0.02      0.0
vegetation   0.01    0.01        0.94      0.03      0.01      0.0
farmland     0.00    0.00        0.10      0.89      0.01      0.0
hum_cons     0.00    0.00        0.11      0.18      0.70      0.0
unknown       NaN     NaN         NaN       NaN       NaN      NaN

In [ ]:
river_name = 'nea_1962_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/New_dataset_experiments/exp_no18/2022-04-15_07:21:22.437819_unet_resnet50_freeze_0/{river_name}/predictions_swa/confusion_matrix_test.csv'

unknown_zero = True


df = pd.read_csv(file_path, header=None)
if unknown_zero:
    df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
              index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
else:
    df = df.rename(columns={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'}, 
              index={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'})
    
df = df.div(df.sum(axis=1), axis=0).round(2)
df

In [ ]:
river_name = 'nea_1962_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/exp_no18/2022-03-31_15:31:34.184516_unet_resnet50_freeze_0/{river_name}/predictions_swa/confusion_matrix_test.csv'

unknown_zero = True


df = pd.read_csv(file_path, header=None)
if unknown_zero:
    df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
              index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
else:
    df = df.rename(columns={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'}, 
              index={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'})
    
df = df.div(df.sum(axis=1), axis=0).round(2)
df

### no WCE

In [ ]:
river_name = 'nea_1962_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/exp_no18/2022-03-31_15:31:34.184516_unet_resnet50_freeze_0/{river_name}/predictions_swa/confusion_matrix_test.csv'

unknown_zero = True


df = pd.read_csv(file_path, header=None)
if unknown_zero:
    df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
              index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
else:
    df = df.rename(columns={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'}, 
              index={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'})
    
df = df.div(df.sum(axis=1), axis=0).round(2)
df

In [ ]:
river_name = 'nea_1962_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/exp_no18/2022-03-31_15:31:34.184516_unet_resnet50_freeze_0/{river_name}/predictions_swa/confusion_matrix_test.csv'

unknown_zero = True


df = pd.read_csv(file_path, header=None)
if unknown_zero:
    df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
              index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
else:
    df = df.rename(columns={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'}, 
              index={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'})
    
df = df.div(df.sum(axis=1), axis=0).round(2)
df

In [ ]:
river_name = 'nea_1962_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/exp_no18/2022-03-31_15:31:34.184516_unet_resnet50_freeze_0/{river_name}/predictions_swa/confusion_matrix_test.csv'

unknown_zero = True


df = pd.read_csv(file_path, header=None)
if unknown_zero:
    df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
              index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
else:
    df = df.rename(columns={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'}, 
              index={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'})
    
df = df.div(df.sum(axis=1), axis=0).round(2)
df

# FPN

In [19]:
river_name = 'gaula_1998_test'
file_path = f'/home/saeid/phd/segmentation/experiments_testset_predictions/New_dataset_experiments/exp_no61/2022-04-03_21:18:14.565314_fpn_resnet50_freeze_0/{river_name}/predictions_swa/confusion_matrix_test.csv'

unknown_zero = True


df = pd.read_csv(file_path, header=None)
if unknown_zero:
    df = df.rename(columns={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'}, 
              index={0:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 5:'unknown'})
else:
    df = df.rename(columns={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'}, 
              index={5:'water', 1:'gravel', 2:'vegetation', 3:'farmland', 4:'hum_cons', 0:'unknown'})
    
df = df.div(df.sum(axis=1), axis=0).round(2)
df

            water  gravel  vegetation  farmland  hum_cons  unknown
water        0.96    0.03        0.01      0.00      0.00      0.0
gravel       0.06    0.48        0.37      0.03      0.06      0.0
vegetation   0.02    0.00        0.96      0.01      0.01      0.0
farmland     0.00    0.01        0.11      0.86      0.01      0.0
hum_cons     0.00    0.00        0.18      0.14      0.68      0.0
unknown       NaN     NaN         NaN       NaN       NaN      NaN