# Imports

In [3]:
import gdal
import numpy as np
import pandas as pd
import os
import sys
import glob
from osgeo import ogr
from osgeo import osr
sys.path.insert(1, r'C:\Users\shams\PhD\segmentation\arild\river-segmentation\source')
import model_utils
import data_processing
import sklearn.metrics
import matplotlib.pyplot as plt

# Functions

In [4]:
def prepare_results(result_list_val, list_no_val):
    # outputs miou and dataframe to show from result list
    print(f'the miou is {result_list_val[list_no_val][0]}')
    df=pd.DataFrame(result_list_val[list_no_val][1], columns=['water', 'gravel', 'vegetation', 'farmland', 'hum_cons'])
    res = df.div(df.sum(axis=1), axis=0).round(2)
    # returns miou and confmatrix_df
    return result_list_val[list_no_val][0], res

In [5]:
def get_conf_matrix_miou(river_name_val, exp_no_val):
    # get the value paths
    bounding_poly_path = fr'C:\Users\shams\PhD\segmentation\dataset\test\{river_name_val}_test_set\bounding_box.shp'
    corrected_image_folder = fr'C:\Users\shams\PhD\segmentation\dataset\test\{river_name_val}_test_set\bounding_box_selected\labels'
    predicted_image_folder =  fr'C:\Users\shams\PhD\segmentation\dataset\test\{river_name_val}_test_set\bounding_box_selected\predicted_exp{exp_no_val}'
    save_path = fr'C:\Users\shams\PhD\segmentation\dataset\test\{river_name_val}_test_set\bounding_box_selected\predicted_exp{exp_no_val}'
    # Load shapefile
    driver = ogr.GetDriverByName("ESRI Shapefile")
    ds = driver.Open(bounding_poly_path, 0)
    layer = ds.GetLayer()
    polys = []
    for feature in layer:
        geom = feature.GetGeometryRef().Clone()
        ref = osr.SpatialReference()
        ref.ImportFromEPSG(25833)
        geom.AssignSpatialReference(ref)
        polys.append(geom)
#     print(f'shape of poly is: {len(polys)}')
    
    # Find intersecting images
    predicted_image_paths = glob.glob(os.path.join(predicted_image_folder, "*.tif"))
    corrected_image_paths = glob.glob(os.path.join(corrected_image_folder, "*.tif"))

    predicted_image_overlapping_paths = []
    corrected_image_overlapping_paths = []

    for predicted_image_path in predicted_image_paths:
        # Load the image
        image_ds = gdal.Open(predicted_image_path)
        image_bounding_box = data_processing.create_bounding_box(image_ds)
        image_ds = None
        for poly in polys:
            if poly.Intersects(image_bounding_box):
                predicted_image_overlapping_paths.append(predicted_image_path)
                if os.path.split(predicted_image_path)[-1] not in [os.path.split(path)[-1] for path in corrected_image_paths]:
                    raise Exception(f"The corresponding corrected file did not exist.")
                corrected_image_overlapping_paths.append(os.path.join(corrected_image_folder, os.path.split(predicted_image_path)[-1]))
                break
#     print(f'shape of corrected image is : {len(corrected_image_overlapping_paths)}')

    # Compute confusion matrix
    mem_driver = driver = gdal.GetDriverByName("MEM")
    prediction_arrays = []
    corrected_arrays = []
    for i in range(len(predicted_image_overlapping_paths)):
        prediction_ds = gdal.Open(predicted_image_overlapping_paths[i])
        corrected_ds = gdal.Open(corrected_image_overlapping_paths[i])

        # Make a mask with 1s at the location of pixels that should be included
        mask_ds = mem_driver.Create("", prediction_ds.RasterXSize, prediction_ds.RasterYSize)
        mask_ds.SetProjection(prediction_ds.GetProjection())
        mask_ds.SetGeoTransform(prediction_ds.GetGeoTransform())
        mask_ds.GetRasterBand(1).WriteArray(np.zeros((prediction_ds.RasterYSize, prediction_ds.RasterXSize)))
        gdal.RasterizeLayer(mask_ds, (1,), layer, burn_values=(1,))
        mask = mask_ds.GetRasterBand(1).ReadAsArray()
#         # show the mask 
#         fig = plt.figure()
#         plt.imshow(mask)
#         plt.show()
#         print(f'the mask_mean = {np.mean(mask)}')
        
        prediction_array = prediction_ds.GetRasterBand(1).ReadAsArray()
        corrected_array = corrected_ds.GetRasterBand(1).ReadAsArray()

        # Flatten
        prediction_array = prediction_array.flatten()
        corrected_array = corrected_array.flatten()
        mask = mask.flatten().astype(bool)

        # Filter using the mask
        prediction_array = prediction_array[mask]
        corrected_array = corrected_array[mask]

        prediction_arrays.append(prediction_array)
        corrected_arrays.append(corrected_array)
    
    # Convert all the flattened predictions to a numpy array
    predictions = np.concatenate(prediction_arrays)
    corrections = np.concatenate(corrected_arrays)
    
    # Calculate the miou
    miou = model_utils.miou(corrections, predictions, num_classes=5)
    
    # Calculate the confusion matrix
    conf_mat = np.zeros((5, 5))
    for i in range(len(prediction_arrays)):
        conf_mat += sklearn.metrics.confusion_matrix(corrected_arrays[i], prediction_arrays[i], labels=[0, 1, 2, 3, 4])
    
    # Save the confusion matrix as csv
#     np.savetxt(os.path.join(predicted_image_folder, save_path), conf_mat, delimiter=",")
    
    return miou, conf_mat

# Experiments list

In [6]:
exp_no_list = [0, 1, 4, 5, 6, 7, 'arild']

# Gaula 1963

In [5]:
river_name = 'gaula_1963'

In [6]:
result_list = []

In [7]:
for exp_no in exp_no_list:
    miou_val, conf_matrix_val = get_conf_matrix_miou(river_name_val=river_name, exp_no_val=exp_no)
    result_list.append([miou_val, conf_matrix_val])

## Experiment Arild

In [8]:
list_no = 6
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.7130738361863671

In [9]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.91    0.00        0.01      0.07      0.00
1   0.08    0.77        0.07      0.06      0.03
2   0.02    0.02        0.89      0.02      0.05
3   0.01    0.02        0.08      0.88      0.00
4   0.03    0.02        0.07      0.09      0.78

## Experiment 0

In [10]:
list_no = 0
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.5329661739884688

In [11]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.66    0.02        0.14      0.18      0.00
1   0.11    0.48        0.25      0.15      0.01
2   0.03    0.01        0.86      0.09      0.02
3   0.03    0.03        0.07      0.86      0.01
4   0.03    0.02        0.20      0.26      0.49

## Experiment 1

In [12]:
list_no = 1
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.7093402382644948

In [13]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.84    0.05        0.03      0.09      0.00
1   0.04    0.87        0.05      0.02      0.01
2   0.02    0.03        0.90      0.03      0.02
3   0.00    0.05        0.08      0.86      0.00
4   0.02    0.06        0.10      0.11      0.71

## Experiment 4

In [14]:
list_no = 2
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.675060366177463

In [15]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.90    0.02        0.03      0.05      0.00
1   0.09    0.78        0.07      0.04      0.02
2   0.02    0.05        0.86      0.03      0.04
3   0.01    0.04        0.06      0.87      0.02
4   0.02    0.04        0.15      0.10      0.68

## Experiment 5

In [16]:
list_no = 3
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.631851568638646

In [17]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.88    0.01        0.03      0.07      0.00
1   0.11    0.78        0.06      0.05      0.01
2   0.06    0.03        0.79      0.10      0.02
3   0.09    0.05        0.03      0.81      0.01
4   0.06    0.03        0.10      0.15      0.66

## Experiment 6

In [18]:
list_no = 4
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.6524541417711165

In [19]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.95    0.03        0.01      0.01      0.00
1   0.09    0.85        0.03      0.02      0.01
2   0.03    0.08        0.85      0.03      0.01
3   0.01    0.06        0.07      0.86      0.00
4   0.04    0.19        0.29      0.11      0.38

## Experiment 7

In [20]:
list_no = 5
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.6790993109655079

In [21]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.95    0.02        0.01      0.01      0.00
1   0.11    0.83        0.02      0.01      0.02
2   0.03    0.06        0.83      0.05      0.03
3   0.02    0.05        0.03      0.88      0.01
4   0.03    0.09        0.16      0.10      0.62

# Nea 1962

In [24]:
river_name = 'nea_1962'

In [25]:
result_list = []

In [26]:
for exp_no in exp_no_list:
    print(f'working on {exp_no}')
    miou_val, conf_matrix_val = get_conf_matrix_miou(river_name_val=river_name, exp_no_val=exp_no)
    result_list.append([miou_val, conf_matrix_val])

working on 0
working on 1
working on 4
working on 5
working on 6
working on 7
working on arild

## Experiment Arild

In [27]:
list_no = 6
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.7703743506804428

In [28]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.95    0.00        0.02      0.02      0.00
1   0.22    0.54        0.08      0.10      0.06
2   0.03    0.00        0.90      0.05      0.02
3   0.02    0.00        0.01      0.97      0.00
4   0.00    0.00        0.03      0.15      0.82

## Experiment 0

In [29]:
list_no = 0
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.48591363494272244

In [30]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.69    0.00        0.15      0.16      0.00
1   0.22    0.26        0.35      0.17      0.00
2   0.05    0.00        0.79      0.14      0.02
3   0.03    0.00        0.10      0.84      0.03
4   0.01    0.00        0.13      0.37      0.49

## Experiment 1

In [31]:
list_no = 1
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.7172003644671205

In [32]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.90    0.03        0.04      0.03      0.00
1   0.14    0.73        0.06      0.06      0.01
2   0.03    0.01        0.85      0.09      0.01
3   0.01    0.01        0.02      0.95      0.01
4   0.00    0.01        0.05      0.19      0.75

## Experiment 4

In [33]:
list_no = 2
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.6273964787546857

In [34]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.89    0.02        0.06      0.03      0.00
1   0.18    0.47        0.22      0.10      0.03
2   0.02    0.01        0.87      0.08      0.02
3   0.01    0.01        0.07      0.88      0.03
4   0.00    0.00        0.13      0.19      0.68

## Experiment 5

In [35]:
list_no = 3
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.5946919184978363

In [36]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.91    0.01        0.04      0.04      0.00
1   0.24    0.56        0.11      0.06      0.04
2   0.04    0.00        0.86      0.08      0.02
3   0.10    0.03        0.05      0.80      0.02
4   0.01    0.02        0.09      0.18      0.70

## Experiment 6

In [37]:
list_no = 4
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.5988592571302489

In [38]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.92    0.01        0.03      0.03      0.01
1   0.32    0.42        0.15      0.08      0.02
2   0.06    0.01        0.78      0.11      0.04
3   0.02    0.01        0.03      0.91      0.02
4   0.01    0.00        0.11      0.29      0.59

## Experiment 7

In [39]:
list_no = 5
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.6441974765364844

In [40]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.95    0.01        0.02      0.02      0.00
1   0.34    0.39        0.12      0.11      0.04
2   0.05    0.00        0.82      0.11      0.02
3   0.02    0.00        0.03      0.93      0.02
4   0.01    0.00        0.08      0.26      0.65

# Gaula 1998

In [41]:
river_name = 'gaula_1998'

In [42]:
result_list = []

In [43]:
for exp_no in exp_no_list:
    print(f'working on {exp_no}')
    miou_val, conf_matrix_val = get_conf_matrix_miou(river_name_val=river_name, exp_no_val=exp_no)
    result_list.append([miou_val, conf_matrix_val])

working on 0
working on 1
working on 4
working on 5
working on 6
working on 7
working on arild

## Experiment Arild

In [44]:
list_no = 6
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.5388792943306537

In [45]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.89    0.04        0.02      0.05      0.00
1   0.07    0.67        0.02      0.17      0.07
2   0.18    0.09        0.55      0.15      0.04
3   0.00    0.31        0.01      0.64      0.04
4   0.00    0.03        0.02      0.09      0.86

## Experiment 0

In [46]:
list_no = 0
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.38293470143878416

In [47]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.69    0.01        0.14      0.16      0.00
1   0.09    0.40        0.29      0.15      0.07
2   0.14    0.03        0.64      0.10      0.09
3   0.08    0.31        0.19      0.35      0.06
4   0.01    0.04        0.09      0.16      0.71

## Experiment 1

In [48]:
list_no = 1
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.4821648948551025

In [49]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.59    0.32        0.03      0.06      0.00
1   0.02    0.73        0.11      0.11      0.04
2   0.04    0.11        0.74      0.08      0.03
3   0.00    0.21        0.02      0.74      0.03
4   0.00    0.04        0.20      0.14      0.61

## Experiment 4

In [50]:
list_no = 2
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.5353497255356696

In [51]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.88    0.06        0.05      0.01      0.00
1   0.13    0.51        0.28      0.05      0.04
2   0.08    0.05        0.73      0.08      0.05
3   0.02    0.25        0.05      0.58      0.10
4   0.01    0.04        0.09      0.06      0.80

## Experiment 5

In [52]:
list_no = 3
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.4788996676004177

In [53]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.93    0.02        0.02      0.03      0.00
1   0.07    0.79        0.04      0.04      0.06
2   0.10    0.13        0.62      0.10      0.05
3   0.02    0.41        0.02      0.39      0.15
4   0.01    0.16        0.06      0.04      0.73

## Experiment 6

In [54]:
list_no = 4
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.3899182833533395

In [55]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.63    0.32        0.02      0.03      0.00
1   0.14    0.52        0.05      0.19      0.10
2   0.23    0.11        0.24      0.34      0.07
3   0.00    0.23        0.01      0.66      0.09
4   0.00    0.03        0.02      0.12      0.82

## Experiment 7

In [56]:
list_no = 5
miou_test, conf_df_test = prepare_results(result_list_val=result_list, list_no_val=list_no)

the miou is 0.36800883336493584

In [57]:
conf_df_test

   water  gravel  vegetation  farmland  hum_cons
0   0.61    0.35        0.01      0.03      0.00
1   0.15    0.53        0.04      0.17      0.12
2   0.19    0.09        0.25      0.41      0.06
3   0.00    0.33        0.01      0.58      0.08
4   0.01    0.04        0.05      0.13      0.78

# ensemble

### Nea 1962

In [111]:
river_name = 'nea_1962'

In [112]:
exp_no = 'ens'
miou_val, conf_matrix_val = get_conf_matrix_miou(river_name_val=river_name, exp_no_val=exp_no)
print(miou_val)

0.7373884110797116

In [113]:
df=pd.DataFrame(conf_matrix_val, columns=['water', 'gravel', 'vegetation', 'farmland', 'hum_cons'])
res = df.div(df.sum(axis=1), axis=0).round(2)

In [114]:
res

   water  gravel  vegetation  farmland  hum_cons
0   0.96    0.01        0.02      0.01      0.00
1   0.27    0.54        0.09      0.08      0.02
2   0.03    0.00        0.89      0.07      0.01
3   0.01    0.00        0.02      0.95      0.01
4   0.00    0.00        0.07      0.20      0.72

### Gaula 1963

In [11]:
river_name = 'gaula_1963'

In [12]:
exp_no = 'ens'
miou_val, conf_matrix_val = get_conf_matrix_miou(river_name_val=river_name, exp_no_val=exp_no)
print(miou_val)

0.7311525553509358

In [13]:
df=pd.DataFrame(conf_matrix_val, columns=['water', 'gravel', 'vegetation', 'farmland', 'hum_cons'])
res = df.div(df.sum(axis=1), axis=0).round(2)

In [14]:
res

   water  gravel  vegetation  farmland  hum_cons
0   0.94    0.02        0.01      0.03      0.00
1   0.08    0.85        0.03      0.02      0.01
2   0.02    0.04        0.88      0.03      0.03
3   0.01    0.04        0.05      0.89      0.00
4   0.02    0.06        0.12      0.09      0.71

### Gaula 1998

In [15]:
river_name = 'Gaula_1998'

In [16]:
exp_no = 'ens'
miou_val, conf_matrix_val = get_conf_matrix_miou(river_name_val=river_name, exp_no_val=exp_no)
print(miou_val)

0.5298865201140928

In [17]:
df=pd.DataFrame(conf_matrix_val, columns=['water', 'gravel', 'vegetation', 'farmland', 'hum_cons'])
res = df.div(df.sum(axis=1), axis=0).round(2)

In [18]:
res

   water  gravel  vegetation  farmland  hum_cons
0   0.80    0.18        0.01      0.01      0.00
1   0.11    0.66        0.08      0.09      0.06
2   0.17    0.08        0.59      0.12      0.04
3   0.00    0.27        0.01      0.67      0.05
4   0.00    0.04        0.03      0.10      0.83